.popup__close {
  width: 40px;
  height: 40px;
  background: transparent url('../../../images/Close.svg') center no-repeat;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .popup__close {
    background-size: 26px 26px cover;
    width: 26px;
    height: 26px;
    right: 0;
    top: -39px;
  }
}

@media screen and (max-width: 767px) {
  .popup__close tooltip {
    background-size: 26px 26px cover;
    width: 26px;
    height: 26px;
    right: 110;
    top: -200px;
  }
}